.navbar {
    background-color: var(--theme);
    padding: 1 rem 1.5 rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    
}

.link {
    opacity: 0.8;
    cursor: pointer;
}
.link:hover {
    opacity: 1;
    transition: all 0.3s;
}